
.page.theme_light {
  --accent-color: #ff8dcb;
  --tittle-color: #ffc2e6;
  --text-color: #353430;
  --zone-color: #353430;
  --subtitle-color: #000028;
  --alternative-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --decoreted-color: rgba(255, 0, 112, 0);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --tittle-color: #ffc2e6;
    --text-color: #353430;
    --subtitle-color: #000028;
    --bg-image: url(../images/cover-image-light.png);
    --decoreted-color: rgba(255, 0, 112, 0);
    --zone-color: #353430;
  }
}
