/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  max-width: 1024px;
  min-width: 375px;
  font-family: var(--text-family), sans-serif;
  font-size: var(--text-size);
  background-image: var(--bg-image);
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.decorated-subtittle {
  position: absolute;
  color: var(--accent-color);
  top: 10px;
  right: 37px;
  font-family: var(--text-family);
}

@media (width >= 768px) {
  .decorated-subtittle {
    top: 22px;
    right: 50px;
  }
}

.decorated-subtittle::after {
  content: "";
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  position: absolute;
  margin-block-start: 7px;
  margin-inline-start: 9px;
  box-shadow: 0px 0px 7px 2px;
}

@media (width >= 768px) {
  .decorated-subtittle::after {
    margin-inline-start: 11px;
  }
}

.text__link {
  text-decoration: none;
  text-shadow: 3px 2px 1px var(--accent-color);
}

.header {
  position: relative;
  min-width: 375px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 0.5fr 1fr;
}

@media (width >= 768px) {
  .header {
    display: grid;
    min-height: 1024px;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media (width >= 1024px) {
  .header {
    display: grid;
    min-height: 768px;
    grid-template-rows: 0.4fr 0.3fr 0.2fr;
  }
}

.decorated-zone::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  right: 10px;
  top: 10px;
}

@media (width >= 768px) {
  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }
}

.decorated-zone::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  left: 10px;
  bottom: 10px;
}

@media (width >= 768px) {
  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }
}

button:disabled {
  pointer-events: none;
}

.header__theme-menu-button_active:disabled {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus {
  outline: none;
  text-decoration: underline solid var(--accent-color) 0.5px;
  text-underline-offset: 6px;
}

.text__link:focus-visible {
  outline: none;
  border: 1px solid var(--text-color);
}

.header__theme-menu-button:hover {
  border: 0.5px solid var(--accent-color);
}

.header__theme-menu-button:active {
  text-decoration: none;
}

.text__link:hover {
  border-bottom: solid var(--text-color) 0.5px;
  text-underline-offset: 2px;
}

.header__theme-menu {
  font-size: var(--text-size);
  color: var(--accent-color);
  font-family: var(--text-family), sans-serif;
  line-height: 190%;
  justify-self: end;
  align-self: center;
  margin-inline-end: 15px;
}

@media (width >= 768px) {
  .header__theme-menu {
    justify-self: end;
    margin-block-end: 50px;
    margin-inline-end: 30px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: self-start;
    margin-inline-start: 3%;
    margin-block-start: 15px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    display: flex;
    gap: 25px;
  }
}

.header__theme-menu-button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  text-transform: lowercase;
}

.tittle {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--tittle-color);
  font-family: var(--text-family);
  line-height: 80%;
  margin-inline-start: 10px;
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (width >= 768px) {
  .tittle {
    justify-self: start;
    align-self: center;
    margin-block-end: 2%;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .tittle {
    margin-block-start: 15px;
    align-self: baseline;
  }
}
.tittle__phrase {
  font-family: var(--text-font), sans-serif;
  background-color: var(--accent-color);
  font-size: var(--text-family);
  color: var(--subtitle-color);
  font-weight: 700;
  max-width: 94%;
  justify-self: center;
  align-self: center;
  margin-block-end: 15px;
}

@media (width >= 768px) {
  .tittle__phrase {
    justify-self: end;
    margin-inline-end: 4%;
    align-self: self-start;
    width: 42%;
    margin-block-start: 38px;
  }
}

@media (width >= 1024px) {
  .tittle__phrase {
    min-width: 491px;
    justify-self: end;
    align-self: self-start;
    margin-inline-end: 20px;
    margin-block-start: 25px;
  }
}

.content {
  font-family: var(--text-family), sans-serif;
  font-size: var(--text-size);
  margin: 0 10px;
  margin-block-start: 40px;
}

@media (width >= 768px) {
  .content {
    margin: 0 20px;
    margin-block-start: 62px;
  }
}

@media (width >= 768px) {
  .content__item_concentrate {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }
}

.subtitle__container {
  display: grid;
  gap: 14px;
}

.content_item_attention {
  margin-block-start: 30px;
}

@media (width >= 768px) {
  .content_item_attention {
    margin-block-end: px;
  }
}

@media (width >= 768px) {
  .subtitle__item_text-container {
    width: 150px;
  }
}

@media (width >= 1024px) {
  .subtitle__item_text-container {
    width: 300px;
  }
}

@media (width >= 768px) {
  .content_item_attention {
    margin-block-start: 95px;
  }
}

@media (width >= 1024px) {
  .container__things {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (width >= 768px) {
  .subtitle__things {
    text-align: left;
  }
}
.content_item_adviсe {
  margin-block-start: 20px;
}

@media (width >= 768px) {
  .content_item_adviсe {
    display: grid;
    grid-template-columns: 1fr 2fr;

    margin-block-start: 80px;
  }
}

.subtitle__things {
  color: var(--subtitle-color);
  background-color: var(--accent-color);
  font-family: var(--text-family), sans-serif;
  font-size: var(--text-size);
  margin-block-start: 10px;
  margin-block-end: 10px;
}

.subtitle__text {
  color: var(--subtitle-color);
  background-color: var(--accent-color);
  font-family: var(--text-family);
  font-size: var(--text-size);
  margin-bottom: 10px;
}

.subtitle__text-no-bold {
  color: var(--subtitle-color);
  background-color: var(--accent-color);
  font-size: var(--text-family);
  font-weight: 400;
  margin-bottom: 10px;
}

.subtitle__text-no-bold:not(:first-child) {
  margin-top: 10px;
}

.subtitle__item {
  font-family: var(--text-family), sans-serif;
  font-size: var(--text-size);
  color: var(--accent-color);
  word-spacing: 6.5px;
  margin-bottom: 10px;
}

.text__item {
  font-family: var(--text-font), sans-serif;
  color: var(--text-color);
  font-size: var(--text-size);
  line-height: 24.3px;
  margin-top: 10px;
}

.pictures {
  margin-block-start: 50px;
}

@media (width >= 768px) {
  .pictures {
    margin-block-start: 80px;
  }
}

.images {
  margin-block-start: 3%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (width >= 768px) {
  .images {
    display: grid;
    grid-template-areas:
      "sun sun ice-cream"
      "music books ice-cream"
      "music street street";
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.sun {
  grid-area: sun;
}

.ice-cream {
  grid-area: ice-cream;
}

.music {
  grid-area: music;
}

.books {
  grid-area: books;
}

.street {
  grid-area: street;
}

.footer {
  margin-block-start: 40px;
  min-width: 375px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (width >= 768px) {
  .footer {
    margin-block-start: 40px;
    min-width: 768px;
    min-height: 1024px;
  }
}

@media (width >= 1024px) {
  .footer {
    width: 1024px;
    min-height: 768px;
  }
}

.footer__tittle {
  font-size: var(--title-size-mobile);
  color: var(--tittle-color);
  font-family: var(--text-font), sans-serif;
  text-shadow: 1px 2px 1px var(--accent-color);
}

@media (width >= 768px) {
  .footer__tittle {
    font-size: var(--title-size-desktop);
  }
}
